body {
    margin: 0;
    font: 14px 'Verdana';
}

#body {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

#header {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 1;
    background-color: white;
    opacity: 0.9;
    display: inline;
}

#logo {
    float: left;
}

#menu {
    float: left;
    width: calc(100% - 249px);
}

#form {
    padding: 50px 0px 50px 0px;
    color: green;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: left;
    position: relative;
}

ul.menu > li > a {
    display: block;
    width: 150px;
    height: 57px;
    padding: 43px 0px 0px 0px;
    text-align: center;
    color: green;
    background-color: white;
    text-decoration: none;
}

ul.menu > li > a:hover {
    background-color: green;
    color: white;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 148px;
    top: 100px;
    left: 0;
    background-color: white;
    border: 1px solid white;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: green;
    background-color: white;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}