.menu_header {
    float: right;
    padding-right: 10px;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 15px;
    height: 50px;
    color: green;
    text-decoration: none;
    font-size: 20px;
}
ul.menu > li > a:hover {
    color: lightgreen;
    border: 2px solid lightgreen;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 116.34px;
    top: 50px;
    left: 0;
    z-index: 150;
}
ul.submenu > li {
    display: block;
    background-color: white;
}
ul.submenu > li > a {
    font-size: 20px;
    display: block;
    padding: 15px;
    height: 50px;
    color: green;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}