.menu {
    float: right;
    padding-right: 10px;
}

/*





*/

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu_down > li {
    float: left;
    position: relative;
}
ul.menu_down > li > a {
    display: block;
    padding: 15px;
    height: 50px;
    color: green;
    text-decoration: none;
    font-size: 20px;
}
ul.menu_down > li > a:hover {
    color: lightgreen;
    border: 2px solid lightgreen;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 116.34px;
    top: 50px;
    left: 0;
    z-index: 150;
}
ul.submenu > li {
    display: block;
    background-color: white;
}
ul.submenu > li > a {
    font-size: 20px;
    display: block;
    padding: 15px;
    height: 50px;
    color: green;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu_down > li:hover > ul.submenu {
    display: block;
}

/*



*/

.menu_up {
    margin: 0;
    padding: 0;
    float: right;
}

.menu_up li {
    margin-top: 5px;
    display: inline-block;
    padding: 0px 15px;
}

.menu_up li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #1396e2;
    transition: 0.2s;
    font-size: 12px;
}

.menu_up li a:hover {
    color: #073855;
}